/*generelle*/

body {
    margin: 0;
    background-color: #28328f;
    font-family: neue-haas-grotesk-text, sans-serif;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    font-family: neue-haas-grotesk-text, sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 100px !important;
    color: #ececec;
}

h2 {
    font-family: neue-haas-grotesk-text, sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 30px !important;
    color: #ececec;
}

p {

    font-family: neue-haas-grotesk-text, sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    color: #ececec;

}

/*NAV*/


.navbar {
    background-color: #28328f;
}


.navbar-toggler-icon {
    margin-right: 10px;
    color: #ececec;
}

.navbar-toggler {
    border 0px;
}

.nav-item a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #ececec;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-item a:hover {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 600;
    color: #ececec;
}

.navbar li a {
    float: right;
    text-align: right;
}



/*FRONT PAGE*/

#fp_blonde {
    background-color: #28328f;
    height: 100vh;
    margin-bottom: 0 !important;
}

.logo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}


/*2016*/

#blonde_2016 {
    height: 100vh;
    background-color: #28328f;
    margin-top: 0 !important;
}

#sectionheader {
    height: 120px;
}

#tekst_2016 {
    margin-top: 8px;
}

/*2017*/
#blonde_2017 {
    height: 100vh;
    position: relative;
    background-color: black;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

#videoBG {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.container_2017 {
    position: relative;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}

/*2018*/

#blonde_2018 {
    height: 100vh;
    background-color: #28328f;

}

/*2019*/

#blonde_2019 {
    height: 100vh;
    background-color: #28328f;
}


/*2020*/
#blonde_2020 {
    height: 100vh;
    position: relative;
    background-color: black;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

/*contact*/

#contact_section {
    height: 100vh;
    background-color: #28328f;
}

#contact_form input,
#contact_form label,
#contact_form textarea {
    width: 100%;
    border-style: solid #ececec;
    border-radius: 0px;
    color: #28328f;
}

#send_button {
    margin-left: 18px;
    margin-top: 4px;
    height: 40px;
    width: 93vw;
    border-style: 1px solid;
    border-color: #ececec;
    border-radius: 0px;
    background-color: #28328f;
}

#send_button:hover {
    background-color: #ececec;
    color: #28328f;
}

#contact_form {
    justify-content: flex-end;
}

/*team*/

#team {
    height: 100vh;
    background-color: #28328f;
}



#team_container img {
    width: 30%;
}

/*MEDIA QUERYS*/


@media screen and (min-width:768px) {

    p {

        font-family: neue-haas-grotesk-text, sans-serif !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #ececec;

    }

    h2 {
        font-size: 70px !important;

    }

    #contact_form input,
    #contact_form label,
    #contact_form textarea {
        width: 30%;
        border-style: solid #ececec;
        border-radius: 0px;
        color: #28328f;
    }

    #send_button {
        margin-top: 4px;
        margin-left: 18px;
        width: 29.4vw;
        border-style: 1px solid;
        border-color: #ececec;
        border-radius: 0px;
        background-color: #28328f;
    }

    #team_container img {
        width: 100%;
        margin-top: ;
         !important;
    }


}
