/*generelle*/

body {
    margin: 0;
    background-color: #28328f;
    font-family: neue-haas-grotesk-text, sans-serif;
    scroll-behavior: smooth;
    z-index: -1;
}

*,
*:before,
*:after {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1 {
    font-family: neue-haas-grotesk-text, sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 100px !important;
    color: #ececec;
}

h2 {
    font-family: neue-haas-grotesk-text, sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 30px !important;
    color: #ececec;
}

p {

    font-family: neue-haas-grotesk-text, sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    color: #ececec;

}

.arrowdown {
    margin: auto;
    max-width: 100px;
    margin-top: 40px;
}


#icons img,
#icons2,
#icons_teams {
    width: 40px;
    color: #ececeC;
}

.text-left img {
    width: 40px;
}




/*NAV*/

.navigation {
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-right {
    float: right;
    padding-right: 10%;
}

.navbar-right a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
}

.navbar-right a:hover {
    text-decoration: underline;
}

.navbar-logo img {
    max-width: 200px;
    margin-left: 5em;
}



/*FRONT PAGE*/

#fp_blonde {
    background-color: #28328f;
    height: 100vh;
    margin-bottom: 0 !important;
}

.logo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}


/*2016*/

#blonde_2016 {
    height: 100vh;
    background-color: #28328f;
    margin-top: 0 !important;
    position: relative;
}

#sectionheader {
    height: 120px;
}

#tekst_2016 {
    margin-top: 8px;
}

/*2017*/
#blonde_2017 {
    height: 100vh;
    position: relative;
    background-color: black;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

#videoBG {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.container_2017 {
    position: relative;
    z-index: 100;
}

.overlay {
    /*    position: absolute;*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}

/*2018*/

#blonde_2018 {
    background-image: url(imgs/roll_together@2x.png);
    background-size: cover;
    height: 100vh;
    background-color: #28328f;

}

/*2019*/

#blonde_2019 {
    height: 100vh;
    background-color: #28328f;
}


/*2020*/
#blonde_2020 {
    height: 100vh;
    position: relative;
    background-color: black;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

/*contact*/

#contact_section {
    height: 100vh;
    background-color: #28328f;
    z-index: 1000;
    overflow-y: hidden;
    position: relative;
}

#contact_form input,
#contact_form label,
#contact_form textarea {
    width: 100%;
    border-style: solid #ececec;
    border-radius: 45px;
    color: #28328f;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#send_button {
    margin-left: 18px;
    margin-top: 4px;
    height: 40px;
    width: 93vw;
    border-style: 1px solid;
    border-color: #ececec;
    border-radius: 45px;
    background-color: #28328f;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}

#send_button:hover {
    background-color: #ececec;
    color: #28328f;
    box-shadow: 0px 15px 20px rgba(40, 50, 143, 0.76);

}

#contact_form {
    justify-content: flex-end;
}

/*team*/

#team {
    height: 100vh;
    background-color: #28328f;
}


#blonde_content_2016 img {
    max-width: 80%;
}


#team_container img {
    width: 100%;
}



.kids p {
    position: absolute;
    z-index: 99;
    left: 20%;
    top: 70%;
    right: ;
    margin: auto;
}

.kids p {
    opacity: 0;
}

.kids:hover p {
    opacity: 1;
    transition: opacity 0.5s ease;
}




/*FP*/
#timeline_fp,
#fp_tl {
    height: 100vh;
    z-index: -1;
}

#fp_logo {
    width: 100%;
    position: absolute;
    top: 3%;
    z-index: 100;
}

#fp_logo img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 200px;
}

#timeline_png {
    position: absolute;
    z-index: 99;
    overflow: hidden;
    top: 70%;
    left: 4%;
    right: 0;
    margin: auto;

}

#timeline_png img {
    margin-left: auto;
    margin-right: auto;

    max-width: 90vw;
    overflow: hidden;
}

#fp_tl_bg {
    /*    background-image: url(imgs/Sk%C3%A6rmbillede%202020-12-13%20kl.%2000.01.02.png);*/
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    transition: filter 0.5s ease;
    /*    filter: greyscale(100%);*/
    transition: width 0.5s ease;
    /*    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);*/
    height: ;
}

#fp_tl_bg img {
    z-index: -1;
    margin: 0;
    padding: 0;
    transition: 0.5s all ease-in-out;
}



#tl-year {
    position: absolute;
    z-index: 100;
    top: 30%;
}

#fp_tl_bg p {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 50%;
    right: 0;

}

#overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

#fp_tl_bg:hover {
    transition: filter 0.5s ease;
    filter: grayscale(0%);
    opacity: 1;


}

#fp_tl_bg:hover img {
    transition: 0.5s all ease-in-out;

    transform: scale(1.1);
}

#fp_tl_bg p {
    opacity: 0;
}

#fp_tl_bg:hover p {
    opacity: 1;
    transition: opacity 0.5s ease;
}


#year_button {

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    top: 85%;
    height: 40px;
    width: 120px;
    border-style: 1px solid;
    border-color: #28328f;
    border-radius: 45px;
    background-color: #28328f;
    visibility: hidden;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}

#fp_tl_bg:hover button {
    visibility: visible;
    transition: 0.5s all ease;

}

#year_button:hover {
    background: #ececec;
    color: #28328f;
    box-shadow: 0px 15px 20px rgba(40, 50, 143, 0.76);

}


/*tilbage knap*/


.luk {
    position: absolute;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: #ececec;
    max-width: 40px;
    max-height: 40px;
    font-size: 2rem;
    margin-right: 100%;
    top: 3%;

}

/*MEDIA QUERYS*/


@media screen and (min-width:768px) {

    p {

        font-family: neue-haas-grotesk-text, sans-serif !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #ececec;

    }

    h2 {
        font-size: 70px !important;

    }

    #contact_form input,
    #contact_form label,
    #contact_form textarea {
        width: 30%;
        border-style: solid #ececec;
        border-radius: 45px;
        color: #28328f;
    }

    #send_button {
        margin-top: 4px;
        margin-left: 18px;
        width: 29.4vw;
        border-style: 1px solid;
        border-color: #ececec;
        border-radius: 45px;
        background-color: #28328f;
    }

    #team_container img {
        width: 100%;
        margin-top: ;
         !important;
    }

    #fp_tl_bg {

        height: 100vh;
    }

    .kids img {
        width: 90%;
    }




}

@media screen and (max-width:768px) {
    .navbar-logo img {
        max-width: 150px;
        margin-left: 1em;
    }

    #fp_tl_bg {
        z-index: ;
    }

    #contact_section {
        position: none;
        z-index: 1;
    }

    #timeline_fp,
    #fp_tl,
    #team {
        height: 100%;
        overflow: hidden;
        z-index: 100;
    }

    #icons,
    #icons_team {
        margin-top: 15vw;
    }

    .arrowdown {
        margin-top: 25vw;
    }



}
